
body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

.navbar-collapse {
    transition: height .5s ease; /* Adjust the duration and easing to your liking */
}
